<!DOCTYPE html>
<html>
<head>
  <title>Send E-Mail</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <template>
      <v-app>
        <v-main>
          <v-container
            class="fill-height"
            fluid
          >
            <v-row
              align="center"
              justify="center"
            >
              <v-col
                cols="12"
                sm="8"
                md="4"
              >
                <v-card class="elevation-12">
                  <v-toolbar
                    color="blue"
                    dark
                    flat
                  >
                    <v-toolbar-title>Отправка сообщения GScript</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn
                          icon
                          large
                          target="_blank"
                          v-on="on">
                          <v-icon>mdi-code-tags</v-icon>
                        </v-btn>
                      </template>
                      <span>Справка</span> 
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text>

                    <v-form
                    v-model="valid"
                    lazy-validation
                    ref="form">
                      <v-text-field
                        label="Отправитель"
                        name="sender"
                        v-model="mail.sender"
                        placeholder="Введите e-mail отправителя"
                        prepend-icon="mdi-account"
                        type="text"
                        :rules="emailRules"
                        required
                      ></v-text-field>

                      <v-text-field
                        label="Получатель"
                        name="receiver"
                        v-model="mail.receiver"
                        placeholder="Введите e-mail получаткля"
                        prepend-icon="mdi-account"
                        type="text"
                        :rules="emailRules"
                        required
                      ></v-text-field>

                      <v-text-field
                        label="тема"
                        name="subject"
                        v-model="mail.subject"
                        placeholder="Введите тему сообщения"
                        prepend-icon="mdi-email"
                        type="text"
                        :rules="[loginRules.required, loginRules.min]"
                        required
                      ></v-text-field>

                    <v-textarea
                      name="message"
                      v-model="mail.message"
                      filled
                      label="сообщение"
                      prepend-icon="mdi-email"
                      auto-grow
                      required
                      :rules="[loginRules.required, loginRules.min]"
                      clearable
                      clear-icon="mdi-close-circle"
                      value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                    ></v-textarea>

                    <h3 v-if="formError == true" class="mx-auto yellow--text text--darken-2">{{formMessage}}</h3>
                    </v-form>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="mr-4" color="secondary" @click="resetForm"><v-icon left>mdi-clear</v-icon>Очистить</v-btn>
                    <v-btn class="mr-4" @click="submitForm" :disabled="!valid|loading" color="green darken-2"><v-icon left>mdi-send</v-icon>Отправить</v-btn>
                  </v-card-actions>

                </v-card>
              </v-col>
            </v-row>
            <!--v-row>
              <h3 class="mx-auto">Spacing</h3>
            </v-row>

            <v-row>
              {{this.verify}}
            </v-row-->
          </v-container>
        </v-main>
      </v-app>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
  new Vue({
      el: '#app',

      vuetify: new Vuetify({
          theme: {
            disable: false,
            dark: true,
            //themes: { dark },
          },
        }
      ),

      methods:{
        resetForm: function(){
          this.$refs.form.reset();
          this.verify = false;
          this.valid = false;
          this.loading = false;
          this.count = 0;
          this.formError = false;
        },

        submitForm: function(){
          if(this.$refs.form.validate()) {
            this.sendEmail();
          } else {
            this.verify = false;
            this.valid = false;
          }
        },

        sendEmail: async function(){
          this.loading = true;
          await this.exequteRequest();
        },

        exequteRequest: async function() {
          this.loading = true;

          var headers = new Headers();
          headers.append("Content-Type", "text/plain;charset=utf-8");

          var realUrl = "https://script.google.com/macros/s/AKfycbwfFHsU5HaleJTuDSAUPo0KBub38xNvZWKVAuUxzXEBjVpQv2wfJAaQ2sjCfxR2jDcI/exec";
          var request = {
            name: "Hello. My name ))",
            to: this.mail.receiver,
            subject: this.mail.subject,
            body: this.mail.message
          };

          var raw = JSON.stringify(request);

          var requestOptions = {
            method: 'POST',
            headers: headers,
            body: raw,
            redirect: 'follow'
          };

          fetch(realUrl, requestOptions)
            .then(response => {
                  console.log(response);
                  return response.text();
                }
            )
            .then(result => {                  
                  console.log("result: ",result);
                  var jresult = JSON.parse(result);
                  console.log("jresult: ",jresult.result);
                  if(jresult.result === "success"){
                    alert("Mail send Ok\n" + JSON.stringify(JSON.parse(jresult.data),'',2) ); //    JSON.stringify(jresult,'',2));
                  }
                  this.loading = false;
                  this.enableSend = true;
                }
            )
            .catch(error => {
                  console.log('error', error);
                  this.loading = false;
                  this.enableSend = true;
                }  
            );

        },

        exequteRequest1: async function() {
          this.loading = true;

          //var token = ScriptApp.getOAuthToken();
          //alert('token ' + token);

          var headers = {
                    "Access-Control-Allow-Origin": "*",
//                    "Access-Control-Allow-Origin": "*",
//                    "Accept": "application/json", 
//                    "Content-Type": "application/json"
                    "Content-Type": "text/plain;charset=utf-8"
          };

          var result = {};
          var realUrl = "https://script.google.com/macros/s/AKfycbwfFHsU5HaleJTuDSAUPo0KBub38xNvZWKVAuUxzXEBjVpQv2wfJAaQ2sjCfxR2jDcI/exec";
          var request = {
            name: "My name ))",
            to: this.mail.receiver,
            subject: this.mail.subject,
            body: this.mail.message
          };

          alert('Send ' + JSON.stringify(request, null, ' ') + ' ');
          const requestOptions = {
            method: "POST",
            mode: "no-cors",
            redirect: 'follow',
            headers: headers,
            body: JSON.stringify(request)
          };
          //alert('Send ' + JSON.stringify(requestOptions, null, ' ') + ' ');

          await fetch(realUrl, requestOptions)
            .then(async response => {

              const rdata = await response.text();

              console.info("fetch: ", response);
              console.info("rdata: ", rdata);

              this.loading = false;
              //result = decodeURIComponent(escape(atob(bdata)));

              alert("response: "+ response + "\n" +
                    "response.status: "+ response.status + "\n" +
                    "response.ok: "+ response.ok + "\n" +
                    "rdata: "+ rdata
              );

              const data = rdata;
              //const data = JSON.parse(bdata);
              //this.result = data;
              //if(this.result.length > 0) {
              //}

/*
              if (!response.ok) {
                  this.loading = false;
                  // get error message from body or default to response statusText
                  const error = "error";//response.statusText;
                  this.error = error;
                  alert('E1 exequteRequest ' + JSON.stringify(response));
                  return Promise.reject(error);
              }
*/              
            })
            .catch(err => {
              console.info("Error url: " + realUrl, err);
              this.loading = false;
              this.error = err;
              alert("E2 exequteRequest " + err);
            });
          return result;
        }, 
      },

      data: function () { return {

        count: 0,
        formError: false,
        formMessage: "Логин не верен",
        verify: true,
        valid: false,
        loading: false,

        mail: {
          sender: "dmvstar.devel@gmail.com",
          receiver: "dmvstar@gmail.com",
          subject: "Test Send mail by GScript",
          message: "Test message Тестовое сообщение"
        },

        emailRules: [
          v => !!v || "Поле обязательно",
          v => /.+@.+\..+/.test(v) || "E-mail must be valid"
        ],

        loginRules: {
          required: value => (!!value)   || "Поле обязательно.",
          min: v => ((v && v.length >= 4)) || "Мин 4 символа"
          //required: value => (!!this.verify)   || "Поле обязательно. "+value,
          //min: v => (this.verify) || "Мин 4 символа"
        },

        passwordRules: {
          required: value => (!!value) || "Поле обязательно.",
          min: v => (v && v.length >= 8) || "Мин 8 символа"
        }

      }},


    })
  </script>
</body>
</html>
<!--
https://www.codeply.com/p/hBkZaWgmnk
https://vuetifyjs.com/en/components/forms/#vuelidate
https://www.freecodecamp.org/news/learn-vuetify-in-5-minutes/
-->
