<!DOCTYPE html>
<html>

<head>
    <title>UGB Client</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        #documents table thead tr th {
            font-size: +18px;
            background: text--primary;
        }

        #documents table thead tr th:nth-child(1) {
            font-size: +24px;
            background: green;
        }

        #documents table thead tr th:nth-child(2) {
            background: red;
        }
    </style>

</head>

<body>
    <div id="app">
        <template>
            <v-app>
                <v-main>
                    <v-container class="fill-height" fluid>
                        <!--v-row align="center"
            justify="center">
                <v-col cols="12" sm="12">
                  <h2>Клиент</h2>
                  <label>Информация:</label>
                </v-col>
            </v-row-->
                        <v-row align="start" justify="center">
                            <v-col cols="12" sm="12" md="10">
                                <v-form ref="client">
                                    <v-toolbar color="primary" dark flat>
                                        <v-toolbar-title>Клиент BankID</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on }">
                                                <v-btn icon large target="_blank" v-on="on">
                                                    <v-icon>mdi-code-tags</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Справка</span>
                                        </v-tooltip>
                                    </v-toolbar>
                                    <v-row>
                                        <v-col cols="12" sm="4" >
                                            <v-text-field v-model="person.іnn" :counter="10" label="ИНН" required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-select v-model="person.sex" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.sex" 
                                            label="Пол" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.sex" 
                                            :disabled=true
                                            :counter="1" label="Пол" required>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="12">
                                            <v-text-field v-model="person.lastName" :counter="50" label="Фамилия" required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="4">
                                            <v-text-field v-model="person.firstName" :counter="20" label="Имя" required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="8">
                                            <v-text-field v-model="person.middleName" :counter="30" label="Отчество" required>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>

                                    <v-row align="start" justify="center">
                                        <v-col cols="12" sm="12" md="12">
                                            <v-simple-table id="documents">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                Документ
                                                            </th>
                                                            <th class="text-left">
                                                                Серия
                                                            </th>
                                                            <th class="text-left">
                                                                Номер
                                                            </th>
                                                            <th class="text-left">
                                                                Выдан
                                                            </th>
                                                            <th class="text-left">
                                                                Выдан
                                                            </th>
                                                            <th class="text-left">
                                                                Действителен
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in documents" :key="item.type">
                                                            <td>{{ item.type }}</td>
                                                            <td>{{ item.serial }}</td>
                                                            <td>{{ item.number }}</td>
                                                            <td>{{ item.issued }}</td>
                                                            <td>{{ item.issuer }}</td>
                                                            <td>{{ item.expired }}</td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>


                                    <v-row align="start" justify="center">
                                        <v-col cols="12" sm="12" md="12">
                                            <v-simple-table id="scans">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                Документ
                                                            </th>
                                                            <th class="text-left">
                                                                Дата
                                                            </th>
                                                            <th class="text-left">
                                                                Расширение
                                                            </th>
                                                            <th class="text-left">
                                                                Файл
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in scans" :key="item.type">
                                                            <td>{{ item.type }}</td>
                                                            <td>{{ item.dateCreate }}</td>
                                                            <td>{{ item.extension }}</td>
                                                            <td>
                                                                <v-btn class="mx-2" 
                                                                    @click="onButtonViewScanClick(item)"
                                                                    fab dark small color="pink">
                                                                    <v-icon dark>mdi-account</v-icon>
                                                                </v-btn>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>

                                    <v-row align="start" justify="center">
                                        <v-col cols="12" sm="12" md="12">
                                            <v-simple-table id="addresses">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                Тип
                                                            </th>
                                                            <th class="text-left">
                                                                Страна
                                                            </th>
                                                            <th class="text-left">
                                                                Область
                                                            </th>
                                                            <th class="text-left">
                                                                Район
                                                            </th>
                                                            <th class="text-left">
                                                                Город
                                                            </th>
                                                            <th class="text-left">
                                                                Улица
                                                            </th>
                                                            <th class="text-left">
                                                                Дом
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in addresses" :key="item.type">
                                                            <td>{{ addresstype(item) }}</td>
                                                            <td>{{ item.country }}</td>
                                                            <td>{{ item.state }}</td>
                                                            <td>{{ item.area }}</td>
                                                            <td>{{ item.city }}</td>
                                                            <td>{{ item.street }}</td>
                                                            <td>{{ item.houseNo }}-{{ item.flatNo }}</td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>

                                    <v-row>

                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.socStatus" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.socStatus" 
                                            label="Социальный статус" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.socStatus" 
                                            :disabled=true
                                            label="Социальный статус" required>
                                            </v-text-field>
                                        </v-col>


                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.flagPEPs" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.flagPEPs" 
                                            label="Приндлежность к ПВО" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.flagPEPs" 
                                            :disabled=true
                                            label="Приндлежность к ПВО" required>
                                            </v-text-field>
                                        </v-col>


                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.flagPersonTerror" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.flagPersonTerror" 
                                            label="Приндлежность к террористам" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.flagPersonTerror" 
                                            :disabled=true
                                            label="Приндлежность к террористам" required>
                                            </v-text-field>
                                        </v-col>


                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.flagRestriction" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.flagRestriction" 
                                            label="Присутсвует в списках СНБО" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.flagRestriction" 
                                            :disabled=true
                                            label="Присутсвует в списках СНБО" required>
                                            </v-text-field>
                                        </v-col>

                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.flagTopLevelRisk" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.flagTopLevelRisk" 
                                            label="Уровент риска" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.flagTopLevelRisk" 
                                            :disabled=true
                                            label="Уровент риска" required>
                                            </v-text-field>
                                        </v-col>

                                        <v-col cols="12" sm="6" >
                                            <v-select v-model="person.uaResident" 
                                            :item-value="value" 
                                            :item-text="text" 
                                            :items="dict.uaResident" 
                                            label="Резидент Украины" 
                                            required>
                                            </v-text-select>
                                        </v-col>
                                        <v-col cols="12" sm="2" >
                                            <v-text-field v-model="person.uaResident" 
                                            :disabled=true
                                            label="Резидент Украины" required>
                                            </v-text-field>
                                        </v-col>

                                    </v-row>


                                </v-form>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    disable: false,
                    dark: true,
                    //themes: { dark },
                },
            }
            ),

            methods: {
                addresstype: function (item) {
                    var find = item.type;
                    var ret = this.addresses_types.find(item => item.ibancode === find);;//    'type';//+ item;
                    return ret.ibandesc;
                },
                onButtonViewScanClick: function (item) {
                    alert( JSON.stringify(item) );
                }
            },

            computed: {
                address_type: function (item) {
                    //alert("address_type " + item);
                    return 'type ' + item;//JSON.stringify(item);
                },
            },

            data() {
                return {
                   
                    "person": {
                        "type": "physical",
                        "lastName": "Кукуцаполь",
                        "firstName": "Кришна",
                        "middleName": "Олимпиада",
                        "іnn": "3347780927",
                        "birthDay": "28.08.1991",
                        "sex": "M",
                        "phone": "380631003256",
                        "email": "sava@mail.dot.com",
                        "uaResident": "1",

                        "socStatus": "",
                        "flagPEPs": "0",
                        "flagPersonTerror": "0",
                        "flagRestriction": "0",
                        "flagTopLevelRisk": "1",
                    },

                    "addresses_types": [
                        {
                            "ibancode": "factual",
                            "ibanname": "проживання",
                            "ibandesc": "Адрес проживання",
                            "wbid": ""
                        },
                        {
                            "ibancode": "juridical",
                            "ibanname": "реєстрації",
                            "ibandesc": "Адрес реєстрації",
                            "wbid": ""
                        }
                    ],

                    documents: [
                        {
                            type: 'Паспорт',
                            serial: 'АА',
                            number: '223412',
                            issued: '24.01.1997',
                            issuer: 'РУ ГУ',
                            expired: '',
                        },
                        {
                            type: 'ИД карта',
                            serial: '',
                            number: '223412',
                            issued: '24.06.2020',
                            issued: '1276',
                            expired: '24.06.2040',
                        },
                        {
                            type: 'Заграничный',
                            serial: 'АА',
                            number: '654542',
                            issued: '24.01.2019',
                            issued: '3422',
                            expired: '24.01.2029',
                        }
                    ],

                    addresses: [
                        {
                            "type": "factual",
                            "country": "UA",
                            "state": "Київська",
                            "area": "Київ",
                            "city": "м. Київ",
                            "street": "вул. Бородинского побоища",
                            "houseNo": "44",
                            "flatNo": "341",
                        },
                        {
                            "type": "juridical",
                            "country": "UA",
                            "state": "Київська",
                            "area": "Київ",
                            "city": "м. Київ",
                            "street": "вул. Бородинского побоища",
                            "houseNo": "44",
                            "flatNo": "341",
                        }

                    ],


                    scans: [
                        {
                            type: 'Паспорт',
                            dateCreate: '24.01.1997',
                            extension: '',
                            scanFile: ''
                        },
                        {
                            type: 'ИД карта',
                            dateCreate: '24.06.2020',
                            extension: '',
                            scanFile: ''
                        },
                        {
                            type: 'Заграничный',
                            dateCreate: '24.01.2019',
                            extension: '',
                            scanFile: ''
                        },
                        {
                            type: 'Фото',
                            dateCreate: '24.01.2019',
                            extension: '',
                            scanFile: '',                     
                        },
                    ],

                    dict:{
                        sex:[
                            {value: "M", text: "Чоловічий"},
                            {value: "F", text: "Жіночий"},
                        ],
                        
                        socStatus: ["студент",
                         "пенсіонер", 
                         "тимчасово безробітний", 
                         "працюючий",
                         "нерегулярна зайнятість"],
                        
                        flagPEPs: [
                            {value: "0", text: "НЕ належить до категорії PEPs"},
                            {value: "1", text: "належить до категорії PEPs"},
                        ],
                        flagPersonTerror: [
                            {value: "0", text: "НЕ включена до переліку осіб, пов’язаних зі здійсненням терористичної діяльності"},
                            {value: "1", text: "включена до переліку осіб, пов’язаних зі здійсненням терористичної діяльності"},
                        ],
                        flagRestriction: [
                            {value: "0", text: "НЕ включена до переліку осіб, щодо яких застосовані персональні санкції РНБОУ"},
                            {value: "1", text: "включена до переліку осіб, щодо яких застосовані персональні санкції РНБОУ"},
                        ],
                        flagTopLevelRisk: [
                            {value: "0", text: "НЕ призначений високий рівень ризику ПВК/ФТ"},
                            {value: "1", text: "призначений високий рівень ризику ПВК/ФТ"},
                        ],
                        uaResident: [
                            {value: "0", text: "особа НЕ є резидентом України"},
                            {value: "1", text: "особа є резидентом України"},
                        ]
                        
                    }
                }
            }


        })
    </script>

</body>

</html>