<!DOCTYPE html>
<html>

<head>
    <title>UGB Client</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        #documents table thead tr th {
            font-size: +18px;
            background: text--primary;
        }

        #documents table thead tr th:nth-child(1) {
            font-size: +24px;
            background: green;
        }

        #documents table thead tr th:nth-child(2) {
            background: red;
        }
    </style>

</head>

<body>
    <div id="app">
        <template>
            <v-app>
                <v-main>
                    <v-container class="fill-height" fluid>
                        <!--v-row align="center"
            justify="center">
                <v-col cols="12" sm="12">
                  <h2>Клиент</h2>
                  <label>Информация:</label>
                </v-col>
            </v-row-->
                        <v-row align="start" justify="center">
                            <v-col cols="12" sm="12" md="10">
                                <v-form ref="client">
                                    <v-toolbar color="primary" dark flat>
                                        <v-toolbar-title>Клиент</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on }">
                                                <v-btn icon large target="_blank" v-on="on">
                                                    <v-icon>mdi-code-tags</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Справка</span>
                                        </v-tooltip>
                                    </v-toolbar>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="12">
                                            <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name"
                                                required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="4">
                                            <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name"
                                                required>
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="8">
                                            <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name"
                                                required>
                                            </v-text-field>
                                        </v-col>
                                    </v-row>

                                    <v-row align="start" justify="center">
                                        <v-col cols="12" sm="12" md="12">
                                            <v-simple-table id="documents">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                Документ
                                                            </th>
                                                            <th class="text-left">
                                                                Серия
                                                            </th>
                                                            <th class="text-left">
                                                                Номер
                                                            </th>
                                                            <th class="text-left">
                                                                Выдан
                                                            </th>
                                                            <th class="text-left">
                                                                Выдан
                                                            </th>
                                                            <th class="text-left">
                                                                Действителен
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in desserts" :key="item.type">
                                                            <td>{{ item.type }}</td>
                                                            <td>{{ item.serial }}</td>
                                                            <td>{{ item.number }}</td>
                                                            <td>{{ item.issued }}</td>
                                                            <td>{{ item.issuer }}</td>
                                                            <td>{{ item.expired }}</td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>

                                    <v-row align="start" justify="center">
                                        <v-col cols="12" sm="12" md="12">
                                            <v-simple-table id="addresses">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                Тип
                                                            </th>
                                                            <th class="text-left">
                                                                Страна
                                                            </th>
                                                            <th class="text-left">
                                                                Область
                                                            </th>
                                                            <th class="text-left">
                                                                Район
                                                            </th>
                                                            <th class="text-left">
                                                                Город
                                                            </th>
                                                            <th class="text-left">
                                                                Улица
                                                            </th>
                                                            <th class="text-left">
                                                                Дом
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in addresses" :key="item.type">
                                                            <td>{{ item.type }}</td>
                                                            <td>{{ item.country }}</td>
                                                            <td>{{ item.state }}</td>
                                                            <td>{{ item.area }}</td>
                                                            <td>{{ item.city }}</td>
                                                            <td>{{ item.street }}</td>
                                                            <td>{{ item.houseNo }}</td>                          
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-col>
                                    </v-row>
                                    
                                </v-form>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    disable: false,
                    dark: true,
                    //themes: { dark },
                },
            }
            ),

            data() {
                return {
                    desserts: [
                        {
                            type: 'Паспорт',
                            serial: 'АА',
                            number: '223412',
                            issued: '24.01.1997',
                            issuer: 'РУ ГУ',
                            expired: '',
                        },
                        {
                            type: 'ИД карта',
                            serial: '',
                            number: '223412',
                            issued: '24.06.2020',
                            issued: '1276',
                            expired: '24.06.2040',
                        },
                        {
                            type: 'Заграничный',
                            serial: 'АА',
                            number: '654542',
                            issued: '24.01.2019',
                            issued: '3422',
                            expired: '24.01.2029',
                        }
                    ],
                    addresses: [
                        {
                            "type": "factual",
                            "country": "UA",
                            "state": "Київська",
                            "area": "Київ",
                            "city": "м. Київ",
                            "street": "вул. Бородинского побоища",
                            "houseNo": "44",
                            "flatNo": "341",
                        },
                        {
                            "type": "juridical",
                            "country": "UA",
                            "state": "Київська",
                            "area": "Київ",
                            "city": "м. Київ",
                            "street": "вул. Бородинского побоища",
                            "houseNo": "44",
                            "flatNo": "341",
                        }

                    ]
                }
            }


        })
    </script>

</body>

</html>