<!DOCTYPE html>
<html>

<head>
  <title>UGB MeestUA</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <style>
      table.v-simple-table thead th {
        font-size: 20px !important;
        }
    </style>

    <v-app>
      <v-main>
        <v-container>

          <v-row justify="center" align="center">
            <v-col cols="12" sm="4">
              <img height="100" src="https://raw.githubusercontent.com/dmvstar/vue-js-examples/master/src/ecobank_2.png" @onclick="switchLigthDark()"></img>
            </v-col>
            <v-col cols="12" sm="4" align="center">
              <h1>UGB MeestUA</h1>
              <v-switch @change="switchLigthDark()" label="Be on the dark side....">Be on the dark side....</v-switch>
            </v-col>
            <v-col cols="12" sm="4">
              <img height="100" src="https://raw.githubusercontent.com/dmvstar/vue-js-examples/master/src/ecobank_2.png"></img>
            </v-col>
          </v-row>
          <!--Отправитель -->
          <v-row>
            <v-col cols="12" sm="12">
              <h2>Отправитель</h2>
              <label>Отделение:</label>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="12">
              <v-autocomplete
              :items="branchs"
              item-value="code"
              item-text="name"
              item-disabled="Выберите один из вариантов"
              return-object
              label="Отделение"
              clearable="true"
              no-data-text="Выберите один из вариантов"
              v-model="selectedBranch"
              menu-props="auto"
              placeholder="Отделение">
            </v-autocomplete>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="12">
              <label>Адрес:</label>
            </v-col>
          </v-row>


          <v-row>
            <v-col cols="12" sm="2">
              <v-text-field type="text" v-model="sendIndex" label="Индекс" placeholder="Индекс"  /><br>
            </v-col>
            <v-col class="d-flex" cols="12" sm="3">
              <v-select
              v-model="selectedSendCity"
              :items="sendCityes"
              item-value="index"
              item-text="text"
              label="Город">
                <option disabled value="">Выберите один из вариантов</option>
                <option v-for="mode in sendCityes" v-bind:value="mode.index">
                  {{ mode.text }}
                </option>
              </v-select>
            </v-col>
            <v-col cols="12" sm="7">
              <v-text-field type="text" v-model="sendStreet" label="Улица шаблон поиска" placeholder="Улица шаблон поиска" class="form-control input-group-lg reg_name" /><br>
            </v-col>
          </v-row>

          <v-row v-if="debugMode == true">
            <v-col cols="12" sm="12">
              meestToken: {{meestToken}}</br>
              selectedBranch: {{selectedBranch}}</br>
              isSndAddressFindMeestDisabled: {{isSndAddressFindMeestDisabled}}
              sendIndex: {{sendIndex}}
              sendStreet: {{sendStreet}}
              sendCityes: {{sendCityes}}
              sendCity: {{sendCity}}
              sendCityId: {{sendCityId}}
              selectedSendCity: {{selectedSendCity}}</br>
              sendAddressId: {{sendAddressId}}</br>
              sendAddresses: {{sendAddresses}}</br>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="12">
              <v-btn block color="primary" v-on:click="btnSndAddressFindMeest" :disabled="isSndAddressFindMeestDisabled">Поиск адреса отправителя</v-btn>
              </br>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="12">
              <label>Адрес отправителя:</label>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="10">
              <v-select v-model="selectedSendAddres" :items="sendAddresses" item-value="index" item-text="text" label="Адрес">
                <option disabled value="">Выберите один из вариантов</option>
                <option v-for="mode in sendAddresses" v-bind:value="mode.index">
                  {{ mode.text }}
                </option>
              </v-select>
            </v-col>
            <v-col cols="12" sm="2">
              <v-text-field type="text"  v-model="sendBuilding" placeholder="Дом" label="Дом" /><br>
            </v-col>
          </v-row>

          <!--Отправитель -->
          <v-row>
            <v-col cols="12" sm="12">
              <h2>Получатель</h2>
              <v-select solo v-model="recvMode" :items="recvModes" item-value="value" item-text="text" />
            </v-col>
          </v-row>

          <!--Получатель Индекс -->
          <div v-if="recvMode == 'I'">
            <!--Получатель Индекс -->
            <v-row>
              <v-col cols="12" sm="12">
                <label>Адрес (Индекс):</label>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="2" class="col-sm-2">
                <v-text-field type="text" v-model="recvIndex" label="Индекс" placeholder="Индекс" maxlength="5" /><br>
              </v-col>
              <v-col cols="12" sm="3" class="col-sm-3">
                <v-select v-model="selectedRecvCity" :items="recvCityes" item-value="index" item-text="text" label="Город">
                  <option disabled value="">Выберите один из вариантов</option>
                  <option v-for="mode in recvCityes" v-bind:value="mode.index">
                    {{ mode.text }}
                  </option>
                </v-select>
              </v-col>
              <v-col cols="12" sm="7" class="col-sm-4">
                <v-text-field type="text" v-model="recvStreet" label="Улица" placeholder="Улица шаблон поиска" maxlength="5" /><br>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="12">
                <v-btn block color="primary" v-on:click="btnRecvAddressFindMeest" :disabled="isRecvAddressFindMeestDisabled" >Поиск адреса получателя (по индексу)</v-btn>
              </v-col>
            </v-row>

          </div>
          <!--Получатель Индекс END-->

          <!--Получатель Адрес -->
          <div v-if="recvMode == 'A'">

            <v-row>
              <v-col cols="12" sm="12">
                <label>Адрес (Адрес):</label>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="3">
                <v-text-field type="text" v-model="recvRegion" placeholder="Область" label="Область" maxlength="5"/><br>
              </v-col>
              <v-col cols="12" sm="2" align="end" justify="end">
                <v-btn block v-on:click="btnRecvRegionFindMeest">Поиск</v-btn>
              </v-col>
              <v-col cols="12" sm="7" >
                <v-select v-model="recvRegionSelect" :items="recvRegions" placeholder="Область">
                  <option disabled value="">Выберите один из вариантов</option>
                  <option v-for="mode in recvRegions" v-bind:value="mode.index">
                    {{ mode.text }}
                  </option>
                </v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="3" class="col-sm-3">
                <v-text-field type="text" v-model="recvDistrict" placeholder="Район" label="Район" maxlength="5"/><br>
              </v-col>
              <v-col cols="12" sm="2" class="col-sm-2">
                <v-btn block v-on:click="btnRecvDistrictFindMeest">Поиск</v-btn>
              </v-col>
              <v-col cols="12" sm="7" class="col-sm-7">
                <v-select v-model="recvDistrictSelect" :items="recvRegions" placeholder="Район">
                  <option disabled value="">Выберите один из вариантов</option>
                  <option v-for="mode in recvRegions" v-bind:value="mode.index">
                    {{ mode.text }}
                  </option>
                </v-select>
              </v-col>
            </v-row>


            <v-row>
              <v-col cols="12" sm="12">
                <v-btn block color="primary" v-on:click="btnRecvAddressFindMeest" :disabled="isRecvAddressFindMeestDisabled" >Поиск адреса получателя (по адресу)</v-btn>
              </v-col>
            </v-row>


          </div>
          <!--Получатель Адрес END-->

          <!--Получатель -->
          <v-row>
            <v-col cols="12" sm="12">
              <label>Адрес получателя:</label>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="5">
              <v-select v-model="recvAddressId" :items="recvAddresses" item-value="index" item-text="text" label="Улица" no-data-text="Выберите один из вариантов">
                <option disabled value="">Выберите один из вариантов</option>
                <option v-for="mode in recvAddresses" v-bind:value="mode.index">
                  {{ mode.text }}
                </option>
              </v-select>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field type="text" v-model="recvBuilding" placeholder="Дом" label="Дом" /><br>
            </v-col>
            <v-col cols="12" sm="2">
              <v-text-field type="text" v-model="recvFlat" placeholder="Квартира" label="Квартира" /><br>
            </v-col>
            <v-col cols="12" sm="2">
              <v-text-field type="text" v-model="recvFloor" placeholder="Этаж" label="Этаж" /><br>
            </v-col>
          </v-row>


          <v-row>
            <v-col cols="12" sm="12">
              <label>Данные получателя:</label>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="recvLastName" placeholder="Фамилия" label="Фамилия" /><br>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field type="text" v-model="recvFirstName" placeholder="Имя" label="Имя" /><br>
            </v-col>
            <v-col cols="12" sm="3">
              <v-text-field type="text" v-model="recvFatherName" placeholder="Отчество" label="Отчество" /><br>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="recvPhone" placeholder="Телефон мобильный" label="Телефон мобильный" /><br>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="recvEmail" placeholder="Адрес электронной почты" label="Адрес электронной почты" /><br>
            </v-col>
          </v-row>


          <!--Получатель END-->

          <!--Посылка -->
          <v-row>
            <v-col cols="12" sm="4">
              <label>Информация о посылке:</label>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelNumber" placeholder="Номер" label="Номер" /><br>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelDescription" placeholder="Назначение" label="Назначение" /><br>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelSendingDate" placeholder="Дата отправки" label="Дата отправки" /><br>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelDeliveryDate" placeholder="Дата доставки" label="Дата доставки" /><br>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="6">
              <v-date-picker
              :first-day-of-week="1"
              locale="ru"
              v-model="parcelSendingDateISO" placeholder="Дата отправки>"></v-date-picker>
            </v-col>
            <v-col cols="12" sm="6">
              <v-date-picker
              :first-day-of-week="1"
              locale="ru"
              v-model="parcelDeliveryDateISO" placeholder="Дата доставки"></v-date-picker>
            </v-col>
          </v-row>

          <!--v-row>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelSendingDateISO" placeholder="Дата отправки" label="Дата отправки" /><br>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field type="text" v-model="parcelDeliveryDateISO" placeholder="Дата доставки" label="Дата доставки" /><br>
            </v-col>
          </v-row-->

          <v-row>
            <v-col cols="12" sm="12">

              <v-simple-table class="elevation-2">
                 <template v-slot:default>
              <thead>
                <tr>
                  <th colspan="3" color="red">Информация для создания заявки</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                   <td colspan="2">Посылка</td>
                </tr>
                <tr>
                  <td width="5%"></td>
                  <td width="25%">Номер</td>
                  <td>{{parcelNumber}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Назначение</td>
                  <td>{{parcelDescription}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Дата отправки</td>
                  <td>{{parcelSendingDate}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Дата доставки</td>
                  <td>{{parcelDeliveryDate}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Идентификатор</td>
                  <td>{{parcelDataId}} {{parcelDataBarcode}} {{parcelDataPickup}}</td>
                </tr>
                <tr>
                  <td colspan="2">Отправитель</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Отделение</td>
                  <td>{{selectedBranch.tobo}} {{selectedBranch.name}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Адрес</td>
                  <td>{{selectedSendCity}}, {{selectedSendAddres}}</td>
                </tr>
                <tr>
                  <td colspan="2">Получатель<br></td>
                </tr>
                <tr>
                  <td></td>
                  <td>ФИО</td>
                  <td>{{recvLastName}} {{recvFirstName}} {{recvFatherName}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Адрес</td>
                  <td>{{recvIndex}} {{recvCity}} {{recvAddress}} {{recvBuilding}}-{{recvFlat}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Телефон</td>
                  <td>{{recvPhone}}</td>
                </tr>
              </tbody>
            </template>
              </v-simple-table>


            </v-col>
          </v-row>


          <v-row justify="center">
             <v-dialog v-model="dialogCreateParcel" persistent max-width="500">

               <v-card>
                 <v-card-title class="headline">Подтвердите отправку посылки и вызов курьера</v-card-title>
                 <v-card-text>Проверте введенные данные и подтвердите их правильность. После создания заявки и вызова курьера отменить заявку сможет только сотрудник MeestUA.</v-card-text>

                 <v-card-actions>
                   <v-spacer></v-spacer>
                   <v-btn color="green darken-1" text @click="dialogCreateParcel = false">Проверить</v-btn>
                   <v-btn color="green darken-1" text @click="dialogCreateParcel = false">Создать</v-btn>
                 </v-card-actions>
               </v-card>

             </v-dialog>
           </v-row>


          <v-row>
            <v-col cols="12" sm="12">
              <v-btn block color="primary" v-on:click="btnCreateParcelMeest" :disabled="isCreateParcelMeestDisabled">Создать заявку на посылку и вызов курьера</v-btn>
              </br>
              <v-btn block color="secondary" v-on:click="btnGetParcelSticker" :disabled="isGetParcelStickerDisabled">Получить стикер</v-btn>
              </br>
              <v-btn block color="error" v-on:click="btnCancelParcelMeest">Отменить заявку на посылку и вызов курьера</v-btn>
            </v-col>
          </v-row>

          <v-row v-if="error != null">
            <v-col cols="12" sm="12">
              {{error}}
            </v-col>
          </v-row>

          <div v-if="example != null">

            <v-row>
              <v-col cols="12" sm="12">
                <v-text-field type="text" v-model="recvFlat" placeholder="12" label="12" /><br>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field type="text" v-model="recvFlat" placeholder="6" label="6" /><br>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field type="text" v-model="recvFlat" placeholder="6" label="6" /><br>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="4">
                <v-text-field type="text" v-model="recvFlat" placeholder="4" label="4" /><br>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field type="text" v-model="recvFlat" placeholder="4" label="4" /><br>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field type="text" v-model="recvFlat" placeholder="4" label="4" /><br>
              </v-col>
            </v-row>
          </div>

        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script type="text/javascript" src="main.js"></script>

</body>

</html>
